extends layout

block content

  include ./header.jade

  .wrapper
    #creation-steps

    .pure-g
      .pure-u-1-12
      .pure-u-11-12
        .thank-you

          div#hearts
            .heart1 &hearts;
            .heart2 &hearts;
            .heart3 &hearts;
            .heart4 &hearts;
            .heart5 &hearts;

          h2 <span>Thank you!</span> For striving to make useful and usable software. Please help spread the cause:

          iframe.github-share-button(
            src="https://ghbtns.com/github-btn.html?user=simon-johansson&repo=usability-shield&type=star&count=true&size=large"
            frameborder="0"
            scrolling="0"
            width="140px"
            height="30px")

          iframe.twitter-share-button(
            src="https://platform.twitter.com/widgets/tweet_button.html?size=l&url=https%3A%2F%2Fdev.twitter.com%2Fweb%2Ftweet-button&via=twitterdev&related=twitterapi%2Ctwitter&text=custom%20share%20text&hashtags=example%2Cdemo"
            width="78"
            height="28"
            title="Twitter Tweet Button"
            style="border: 0; overflow: hidden;"
            allowtransparency="true"
            scrolling="no")

  include ./footer.jade

block scripts
  script.
    //- var simplemde = new SimpleMDE();
    //- simplemde.value(!{JSON.stringify(template)});
